@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,500;1,600&family=Sorts+Mill+Goudy&display=swap');
h1, h2, h3{
    font-family: 'Sorts Mill Goudy', serif;
    color: rgb(142, 22, 172);
}
p, th, li, lu, h4, td {
    font-family: 'Red Hat Display', sans-serif;
}

p.Nomes {
  border: 2px solid rgb(142, 22, 172);
  border-radius: 12px;
  padding: 5px;
}
hr{
    border-color: #439cb0;
    border-style:dotted none none;
    border-width: 5px;
    width: 10%;
    }
figure.foto-legenda { 
    border: 5px solid rgb(122, 9, 153);
    }